
body{
    margin: 0;
}

ul{
    list-style-type: none;
}

ul > li > a{
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    padding: 10px 10px;
}

ul > li > a:hover{
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 3px;
}

.main{
    display: block;
}

.first-block{
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

.container{
    width: 1500px;
    margin: auto;
}

.logo{
    padding-left: 10px;
}

.logo-img{
    width: 120px;
}

#main-nav-bar{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    background-color: #f1f4f6;
    height: 60px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    align-items: center;
}

.menu{
    display: flex;
}

ul > li{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans Light', 'Open Sans', arial;
}

.discount{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    padding-left: 110px;
    padding-top: 75px;
}

.systems{
    justify-content: space-evenly;
  display: flex;
    margin-top: 15px;
}

.discount-description{
    /* margin-right: 75px; */
    width: 55%;
}

.beacon{
    margin-top: 30px;
    margin-left: 40px;
}

.description-header{
    font-size: 40px;
    font-weight: bold;
    line-height: 1.3;
    width: 65%;
    margin-bottom: 60px;
    font-family: 'Open Sans Light', 'Open Sans', arial;
}

.description-text{
    font-size: 28px;
    line-height: 1.6;
    font-family: 'Open Sans Light', 'Open Sans', arial;
}

.another{
    margin-top: 20px;
}

.system-beacon{
    margin-top: 70px;
    font-size: 25px;
    padding: 20px 40px;
    background-color: #f3379d;
    border: none;
    color: white;
    display: flex;
    cursor: pointer;
    outline: none;
    font-family: 'Open Sans Light', 'Open Sans', arial;
}

.system-beacon:hover{
    background-color: #e61b89;
}

.button-img{
    width: 30px;
    opacity: 0.3;
    margin-left: 20px;
}

.second-block{
    padding-top: 50px;
    padding-bottom: 50px;
}

.block-work{
    display: flex;
    justify-content: space-between;
}

.working{
    width: 75%;
}

.map-img{
    min-width: 100%;
    height: auto;
    z-index: 10;
}

.map{
  display: inline;
}

.map-city {
    position: relative;
    display: block;
}

.map-city-1600 {
    display: none;
}
.map-city-1430 {
    display: none;
}
.map-city-1024 {
    display: none;
}
.map-city-820 {
    display: none;
}

.iphone-map{
    position: relative;
    z-index: 50;
}

.empty-image{
    position: absolute;
    opacity: 0;
    z-index: 30;
    min-width: 100%;
}

.parking {
    left: 161px;
    width: 660px;
    top: 447px;
    position: absolute;
    display: none;
    z-index: 20;
}

.bank {
    left: -77px;
    width: 480px;
    top: 308px;
    position: absolute;
    display: none;
    z-index: 20;
}

.museum {
    left: 199px;
    width: 216px;
    top: 12px;
    position: absolute;
    display: none;
    z-index: 20;
}
.shop {
    left: 331px;
    width: 370px;
    top: 37px;
    position: absolute;
    display: none;
    z-index: 20;
}
.cafe {
    left: 591px;
    width: 640px;
    top: 267px;
    position: absolute;
    display: none;
    z-index: 20;
}
.stop {
    right: 61px;
    width: 178px;
    top: 469px;
    position: absolute;
    display: none;
    z-index: 20;
}


#iphone-bank{
    display: none;
}
#iphone-museum{
    display: none;
}
#iphone-shop{
    display: none;
}
#iphone-cafe{
    display: none;
}
#iphone-stop{
    display: none;
}


.working-header{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Open Sans Light', 'Open Sans', arial;
}

.btn-sec{
    margin: auto;
    margin-top: 30px;
    padding: 20px 60px;
}

.third-block{
    background-color: #01b5e6;
    padding-top: 100px;
    padding-bottom: 80px;
}

.block-technologies{
    display: flex;
}

.technologies-text{
    margin-top: 55px;
}

.technologies-header{
    font-size: 45px;
    color: white;
    width: 55%;
    font-family: 'Open Sans Light', 'Open Sans', arial;
}

.technologies-description{
    color: white;
    margin-top: 45px;
    font-size: 26px;
    width: 90%;
    line-height: 2;
    font-family: 'Open Sans Light', 'Open Sans', arial;
}

.another-project{
    margin-top: 45px;
}

.another-project > a {
    color: #f2f8b0;
    text-decoration: underline;
    font-size: 26px;
    padding: 0;
}

.btn-thi{
    margin: auto;
    margin-top: 40px;
    outline: none;
}

  @media screen and (max-width: 1600px){

        .container{
            width: 1300px;
        }

        .map-city{
            display: none;
        }
        .map-city-1430{
            display: none;
        }

        .map-city-1024 {
            display: none;
        }

        .map-city-1600{
            display: block;
            position: relative;
        }
        
        .map-img{
            min-width: 100%;
        }

        .map-city-820 {
            display: none;
        }

        .parking{
            left: 140px;
            width: 570px;
            top: 388px;
        }

        .bank{
            left: -68px;
            width: 417px;
            top: 268px;
        }
        .museum{
            left: 173px;
            width: 188px;
            top: 10px;
        }
        .shop{
            left: 287px;
            width: 320px;
            top: 32px;
        }
        .cafe{
            left: 513px;
            width: 557px;
            top: 232px;
        }
        .stop{
            right: 52px;
            width: 155px;
            top: 405px;
        }

        #main-nav-bar{
            height: 40px;
        }

        .navbar{
            align-items: center;
        }

        ul > li{
            font-size: 18px;
        }

        .discount{
            padding-left: 0px;
            margin-top: 70px;
        }

        .description-header{
            margin-bottom: 50px;
        }

        .description-text{
            font-size: 26px;
        }

        .technologies-header{
            font-size: 42px;
            width: 65%;
        }

        .technologies-description{
            line-height: 1.6;
        }
    }

    @media screen and (max-width: 1430px){

        .container{
            width: 1200px;
        }

        .map-city{
            display: none;
        }

        .map-city-1024 {
            display: none;
        }

        .map-city-1430{
            display: block;
            position: relative;
        }

        .map-city-1600{
            display: none;
        }

        .map-city-820 {
            display: none;
        }

        .map-img{
            min-width: 100%;
        }

        .parking{
            left: 126px;
            width: 517px;
            top: 351px;
        }

        .bank{
            left: -60px;
            width: 377px;
            top: 243px;
        }

        .museum{
            left: 157px;
            width: 169px;
            top: 10px;
        }

        .shop{
            left: 260px;
            width: 289px;
            top: 29px;
        }

        .cafe{
            left: 465px;
            width: 501px;
            top: 211px;
        }

        .stop{
           right: 47px;
           width: 140px;
           top: 367px;
        }

        #main-nav-bar{
            height: 40px;
        }

        .navbar{
            align-items: center;
        }

        ul > li{
            font-size: 16px;
        }

        .discount{
            margin-top: 70px;
        }

        .description-header{
            margin-bottom: 30px;
            font-size: 36px;
        }

        .discount-description{
            width: 50%;
        }

        .description-text{
            font-size: 23px;
        }

        .system-beacon{
            margin-top: 50px;
        }

        .another{
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 1280px){

        .container{
            width: 940px;
        }

        .iphone-map{
            margin-top: -30px;
        }

        .parking{
            left: 125px;
            width: 511px;
            top: 346px;
        }

        .bank{
            left: -59px;
            width: 372px;
            top: 241px;
        }

        .museum{
            left: 154px;
            width: 168px;
            top: 9px;
        }

        .shop{
            left: 257px;
            width: 285px;
            top: 29px;
        }

        .cafe{
            left: 458px;
            width: 498px;
            top: 208px;
        }
        .stop{
            right: -121px;
            width: 139px;
            top: 363px;
        }

        .discount{
            margin-top: 60px
        }

        ul > li{
            font-size: 13px;
            margin-left: 10px;
        }

        .description-header{
            margin-bottom: 30px;
            font-size: 30px;
            width: 75%;
        }

        .description-text{
            font-size: 20px;
        }

        .iphone-change-img{
          text-align: right;
        }

        .iphone-change-img > img{
          width: 75%;
        }

        .btn-sec{
          font-size: 20px;
          padding: 15px 40px;
          position: relative;
          z-index: 50;
          margin-top: 310px;
        }

        .button-img {
        width: 22px;
        opacity: 0.3;
        margin-left: 20px;
        }

        .system-beacon{
            font-size: 20px;
        }

        .third-block{
            padding-top: 80px;
            padding-bottom: 50px;
        }

        .technologies-image{
            width: 85%;
            text-align: right;
        }

        .technologies-image > img{
            width: 95%;
        }

        .technologies-header {
        font-size: 32px;
        width: 80%;
        }

        .technologies-text {
        width: 60%;
        }

        .technologies-description{
            line-height: 1.4;
            font-size: 20px;
            margin-top: 30px;
            width: 100%;
        }

        .another-project > a{
            font-size: 22px;
        }

        // .system-beacon {
        // margin-top: 30px;
        // }
    }

    @media screen and (max-width: 1024px){

        .container{
            width: 760px;
        }

        #main-nav-bar{
            height: 20px;
        }

        .iphone-change-img{
            text-align: center;
        }

        .btn-sec{
            margin-top: 220px;
        }

        .parking{
            left: 92px;
            width: 379px;
            top: 257px;
        }

        .bank{
            left: -43px;
            width: 274px;
            top: 179px;
        }

        .museum{
            left: 114px;
            width: 125px;
            top: 7px;
        }

        .shop{
            left: 191px;
            width: 211px;
            top: 22px;
        }

        .cafe{
            left: 340px;
            width: 368px;
            top: 155px;
        }

        .stop{
            right: -42px;
            width: 102px;
            top: 270px;
        }

        .map-img{
            width: 647px;
            height: 469px;
        }

        .map-city{
            display: none;
        }

        .map-city-820 {
            display: none;
        }

        .map-city-1024 {
            display: block;
            position: relative;
        }
        
        .map-city-1430{
            display: none;
        }

        .map-city-1600{
            display: none;
        }

    
        .discount{
            margin-top: 50px;
            padding-top: 50px;
        }

        .description-header{
            font-size: 24px;
        }

        .description-text{
            font-size: 16px;
        }

        .discount-description {
        width: 60%;
        }

        ul > li{
            font-size: 11px;
        margin-left: 0px;
        }

        .mobile{
            width: 95%;
            margin: auto;
        }

        .mobile > img{
            width: 100%;
        }

        .beacon > img{
            width: 80%;
        }

        .system-beacon{
            padding: 15px 25px;
            font-size: 16px;
        }

        .technologies-header{
            font-size: 26px;
        }

        .technologies-description{
            font-size: 16px;
        }

        .another-project {
        margin-top: 30px;
        }
    }

    @media screen and (max-width: 820px){

        .first-block{
            padding-bottom: 30px;
        }

        .empty-image{
            width: 647px;
            height: 469px;
        }

        .map-img {
            width: 647px;
            height: 469px;
            min-width: 0;
        }

        .stop{
            right: -17px;
            width: 102px;
            top: 269px;
        }

        .map-city{
            display: none;
        }

        .map-city-820 {
            display: block;
            position: relative;
        }

        .map-city-1024 {
            display: none;
        }
        
        .map-city-1430{
            display: none;
        }

        .map-city-1600{
            display: none;
        }

        .container{
            width: auto;
        }

        .logo-img{
            width: 90px;
        }

        #main-nav-bar{
            height: 20px;
        }

        ul > li{
            font-size: 8px;
        }

        .beacon{
            display: none;
        }

        .button-img{
            width: 20px;
        }

        .discount{
            justify-content: space-around;
        }

        .discount-iphone{
            width: 35%;
        }

        .second-block{
            position: relative;
        }

        .mobile{
            width: 100%;
        }

        .discount-description{
            width: 55%;
        }

        .description-text{
            font-size: 14px;
        }

        .working-header{
            font-size: 24px;
        }

        .block-work{
            display: block;
        }

        .working{
            width: 95%;
            margin: auto;
            text-align: center;
        }

        .iphone-change-img{
            width: 100%;
        }

        .iphone-change-img > img{
            width: 14%;
        position: absolute;
        top: 5%;
        right: 15%;
        }

        .button-container{
            width: 100%;
            text-align: center;
        }

        .btn-sec{
            bottom: 0px;
            padding: 15px 65px;
            margin-top: 20px;
        }

        .third-block{
            padding-top: 50px;
        }

        .block-technologies{
            padding: 0 30px;
        }

        .technologies-header{
            font-size: 19px;
        }

        .technologies-text{
            margin-top: 30px;
        }

        .technologies-description{
            font-size: 12px;
            margin-top: 20px;
        }

        .another-project > a {
        font-size: 20px;
        }
    }

    @media screen and (max-width: 640px){

        .first-block{
            position: relative;
        }

        .map-city-820 {
            display: none;
        }

        .iphone-change-img > img{
            width: 45%;
            position: relative;
            top: 0;
            right: 0;
        }

        .menu{
            display: none;
        }

        .logo-img{
            width: 120px;
        }

        .discount-description{
            width: 100%;
        }

        .description-header{
            width: 90%;
        margin: auto;
        margin-bottom: 30px;
            text-align: center;
        }

        .mobile{
            width: 55%;
        }

        .description-text{
            display: none;
        }

        .discount{
            flex-direction: column-reverse;
        }

        .discount-iphone{
            width: 75%;
            margin: auto;
        }

        .system-beacon{
            padding: 15px 10px;
            margin: auto;
            font-size: 15px;
        }

        .systems{
            margin-bottom: 100px;
        }

        .btn-fir{
            position: absolute;
            margin: auto;
            bottom: 40px;
            width: 280px;
        left: 50%;
        margin-left: -140px;
        }

        .second-block{
            padding-top: 15px;
            padding-bottom: 30px;
        }

        .working-header {
        font-size: 22px;
        margin-bottom: 80px;
        text-align: center;
        }

        .btn-sec{
            margin-top: 30px;
            padding: 15px 100px;
        }

        .technologies-description{
            display: none;
        }

        .another-project{
            display: none;
        }

        .third-block{
            padding-top: 20px;
            position: relative;
        }

        .block-technologies{
            display: block;
        }

        .technologies-text{
            width: 100%;
            text-align: center;
        }

        .technologies-header{
            width: 90%;
            font-size: 23px;
            margin: auto;
            margin-bottom: 30px;
        }

        .block-technologies{
            padding: 0;
        }

        .technologies-image{
            width: 100%;
            text-align: center;
        }

        .technologies-image > img{
            width: 90%;
        }

        .system-beacon{
            margin-top: 25px;
        }

        .btn-thi{
            padding: 15px 62px;
        }
    }

    /* @media screen and (max-width: 20px){
        .mobile{
            width: 50%
        }
    } */
